# Visualization support
networkx
matplotlib

# Simulation support
salabim
greenlet

# ... 3D animation support
pyopengl
pyopengl_accelerate

# ... OBJ Wavefront support
pywavefront
pyglet

# ... Video production support
opencv-python
numpy